[user]
	email =
	name =
	signingkey =
[alias]
	d = diff
	s = status -s --untracked-files=no
	sa = status -s
	c = commit -S
	p = push
	l = !git --no-pager log --oneline -n 5
	ca = commit -S -am
[commit]
	gpgsign = true
